<div class="profile-container">
  <mat-card class="profile-info">
    <mat-card-title>Profilom</mat-card-title>
    <mat-card-content>
      <div class="data-item">
        <mat-label>Email:</mat-label>
        <span>{{ user.email }}</span>
      </div>
      <div class="data-item">
        <mat-label>Név:</mat-label>
        <span>{{ user.name }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="order-history">
    <mat-card-title>Korábbi Megrendeléseim</mat-card-title>
    <mat-card-content>
      <ul *ngIf="orders && orders.length > 0; else noOrders">
        @for (order of orders; track order.date) {
          <li>
            <div>
              <strong>Dátum:</strong> {{ order.date }}
            </div>
            <div>
              <strong>Összeg:</strong> {{ order.total }} Ft
            </div>
            <button mat-raised-button color="primary">Megtekintés</button>
          </li>
        }
      </ul>
      <ng-template #noOrders>
        <p>Nincsenek korábbi megrendeléseid.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
