.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-info, .order-history {
  width: 80%;
  max-width: 600px;
  margin-bottom: 30px;
  background-color: #252525;
}

.profile-info mat-card-title, .order-history mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}



.data-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.data-item mat-label {
  font-weight: bold;
  color: wheat;
}

.data-item span {
  color: white;
}

.order-history ul {
  list-style: none;
  padding: 0;
}

.order-history li {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: left;
}

.order-history li strong {
  font-weight: bold;
  color: #555;
}

.order-history p {
  color: #777;
  font-style: italic;
}

.order-history li button {
  margin-top: 10px;
}
