<div class="profile-container">
  <mat-card class="profile-info">
    <mat-card-title>Profilom</mat-card-title>
    <mat-card-content>
      <div class="data-item">
        <mat-label>Email:</mat-label>
        <span>{{ user.email }}</span>
      </div>
      <div class="data-item">
        <mat-label>Név:</mat-label>
        <span>{{ user.name }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="order-history">
    <mat-card-title>Korábbi Megrendeléseim</mat-card-title>
    <mat-card-content>
      <mat-radio-group
        aria-label="Select sort type"
        [(ngModel)]="sortType"
        (change)="onSortChange()"
      >
        <mat-radio-button value="date"><p style="color: white">Rendezés Dátum szerint</p></mat-radio-button>
        <mat-radio-button value="total"><p  style="color: white">Rendezés Ár szerint</p></mat-radio-button>
      </mat-radio-group>

      <ul>
        @for (order of orders | async; track order.date) {
          <li style="background-color: #555555">
            <div>
              Dátum: {{ order.date.toDate() }}
            </div>
            <div>
              Összeg: {{ order.total }}
            </div>
          </li>
        }
      </ul>
      <ng-template #noOrders>
        <p>Nincsenek korábbi megrendeléseid.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
