<mat-card class="flex-item" [ngClass]="{'out' : item.quantity<=0}">
  <mat-card-header style="text-align: center; margin-bottom: 15px;">
    <mat-card-title>{{item.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [src]="item.image" alt="{{ item.name }}" style="max-height: 400px; max-width: 400px;margin-bottom: 10px">
    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
    <mat-card-subtitle>${{item.price}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      @if (item.quantity==0){
        <button mat-flat-button style="background-color: red; color: black; margin:auto" disabled >Elfogyot</button>
      }@else{
        <button mat-flat-button style="background-color: #FFA500; color: black; margin: auto" (click)="onAddToCart()">Add to Cart</button>
      }
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
