<div class="container">
  <h1>Login</h1>

  <form (ngSubmit)="login()" class="login_form">

    <mat-form-field appearance="fill">
      <mat-label> Email </mat-label>
      <input matInput type="email" [formControl]="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label> Password </mat-label>
      <input matInput type="password" [formControl]="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    @if (error!=""){
      <p class="error">{{error}}</p>
    }

    <button mat-flat-button style="background-color: #FFA500; color: black" type="submit">Login</button>
    <button mat-flat-button style="background-color: #FFA500; color: black" type="button" [routerLink]="['/regist']">Regist</button>

  </form>

</div>
