
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-button
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Szönyeg shop</div>
      <nav>
        <ul>
          <li><a routerLink="/home"><mat-icon>house</mat-icon></a></li>
          <li><a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a></li>
          <li><a routerLink="/profile"><mat-icon matListItemIcon>person</mat-icon></a></li>
          <li><a routerLink="/login"><mat-icon>login</mat-icon></a></li>
          <!--<li><a href="#" (click)="$event.preventDefault(); logout()">Logout</a></li> !-->

        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
