
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-button
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Szönyeg shop</div>
      <nav>
        <ul>
          @if (userService.isAdmin() && !isActive("/admin")){
            <li><a routerLink="/admin">Admin felület</a></li>
          }
          @if (userService.isAdmin() && isActive("/admin")){
            <li><a routerLink="/admin/create">Új termék hozáadása</a></li>
          }
          <li><a routerLink="/home"><mat-icon>house</mat-icon></a></li>
          <li><a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a></li>
          @if(userService.currentUser | async; as user){
            <li><a routerLink="/profile"><mat-icon matListItemIcon>person</mat-icon></a></li>
            <li><a href="#" (click)="logout()"><mat-icon>logout</mat-icon></a></li>
          }@else {
            <li><a routerLink="/login"><mat-icon>login</mat-icon></a></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
