<h1>Kosár</h1>

@if(cartItems.length==0){
  <div>
    <p>A kosarad jelenleg üres.</p>
    <a routerLink="/home">Nézz szét a termékek között!</a>
  </div>
} @else {
  <ul class="cart-items">
    @for (item of cartItems; track item){
      <app-cart-item [item]="changeTo(item)"  (changeQuantityM)="changeQuantity($event,$event.quantity-1)" (changeQuantityP)="changeQuantity($event,$event.quantity+1)" (removeItem)="removeItem($event)"></app-cart-item>
    }
  </ul>


  <div class="cart-summary">
    <p class="total-price">Összesen: {{totalPrice | numberShort }} Ft</p>
    <button mat-flat-button style="background-color: red; color: black;">Kosár kiürítése</button>
    <button mat-flat-button (click)="orderCart()" style="background-color: #FFA500; color: black;">Megrendel</button>
  </div>
}





