<h1>Kosár</h1>

@if(cartItems.length==0){
  <mat-card class="ures">
    <p>A kosarad jelenleg üres.</p>
    <button mat-flat-button class="gomb" style="background-color: #FFA500; color: black" routerLink="/home">Nézz szét a termékek között!</button>
  </mat-card>
} @else {
  <ul class="cart-items">
    @for (item of cartItems; track item){
      <app-cart-item [item]="item"  (changeQuantityM)="changeQuantity($event,$event.quantity-1)" (changeQuantityP)="changeQuantity($event,$event.quantity+1)" (removeItem)="removeItem($event)"></app-cart-item>
    }
  </ul>

  <div class="cart-summary">
    <p class="total-price">Összesen: {{totalPrice | numberShort }} Ft</p>
    <button mat-flat-button style="background-color: red; color: black;" (click)="clearCart()">Kosár kiürítése</button>
    <button mat-flat-button (click)="orderCart()" [ngStyle]="{'background-color': (userService.isLogedIn()) ? '#FFA500' : 'red', 'color': (userService.isLogedIn()) ?  'black' : 'white'}">
      @if (userService.isLogedIn()) {
        Megrendelés
      } @else {
        Jelntkez be a megrendeléshez
      }
    </button>
  </div>
}





