<div class="container">

  <form [formGroup]="registForm" (ngSubmit)="regist()" class="regist_form">

    <h1>Register</h1>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <div *ngIf="passwordStrength" style="margin-top: 5px;">
      Jelszó erőssége: <strong [ngStyle]="{'color': passwordStrength === 'Gyenge' ? 'red' : passwordStrength === 'Közepes' ? 'orange' : 'green'}">{{ passwordStrength }}</strong>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="rePassword">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    @if (error!=""){
      <p class="error">{{error}}</p>
    }


    <button mat-flat-button style="background-color: #FFA500; color: black" type="submit">Regist</button>
    <button mat-flat-button style="background-color: #FFA500; color: black" type="button" [routerLink]="['/login']">Login</button>

  </form>


</div>
